<!DOCTYPE html>
<html>
  <%- include ./partials/head %>

  <body>
    <% include ./partials/navbar %>

    <div class="container">
      <h1>Your todo was created</h1>
      <p>Todo title was <%= title %></p>
    
    </div>
    <% include ./partials/scripts %>
  </body>
</html>
